.title{
  border-bottom-right-radius: 80px;
  background-image: linear-gradient(to bottom, rgba(54, 123, 165, 1)1%, rgba(54, 123, 165, 0.2) 80%)
}

h2{
  font-size: 3rem;
}

.bg-progress{
  background-color: #a7c7d349;
}

.bg-phase{
  background-color: #bcbcbc80;
  border-radius: 20px;
}
